<div class="bg-zinc-200 h-12">
  <div class="container mx-auto px-5 h-12">
    <div class="flex justify-between items-center h-12">
      <%# left %>
      <ul>
        <li>
          <%= link_to "home", root_path %>
        </li>
      </ul>
      <div class="flex">
        <%# site nav menu %>
      </div>
      <%# right %>
      <div class="flex">
        <%# login, search %>
        <% if user_signed_in? %>
          <div>Welcome back <%= current_user.email %> !</div>
          <%= link_to "edit profile", edit_profile_path %>
          <%= link_to "change password", edit_password_profile_path %>
          <%= button_to "logout", session_path, method: :delete %>
        <% else %>
          <%= link_to "login", new_session_path %>
        <% end %>
      </div>
    </div>
  </div>
</div>
  